<h1>Articles</h1>
{{#each articles}}
<li>
  <a href='articles/{{urltitle}}'>{{title}}</a>
  <ul>
    <li>Author: {{author}}</li>
    <p>{{body}}</p>
  </ul>
</li>
{{/each}}
<a href='articles/new'>Add new article?</a>