<h1>New Product</h1>
<h2>{{error}}</h2>
<form id='editForm' action="/products" method="post">
  Product Name:
  <input type="text" name='name' value="">
  Product Price:
  <input type="text" name='price' value="">
  Product Inventory:
  <input type="text" name='inventory' value="">
</form>
<button type="submit" form='editForm' value="Submit">Submit</button>